.App {
  text-align: center;
  /* background-color: #1c1c31; */
}

.bg-dark{
  background-color: black !important;
  margin-bottom: 50px;
}

.jumbotron {
  background-image: url(http://worldkings.org/Userfiles/Upload/images/Yale.jpg);
  background-position: center;
  background-size: cover;
  margin: 50px 0;
  font-weight: bold;
  padding: 100px;
  border-radius: 50px;
}

.jumbotron h1, p {
  padding: 10px;
  background-color: rgba(252, 252, 252, 0.726);
  border-radius: 50px;
}

